/********************************
 *                              *
 *        Sitemap CSS           *
 *                              *
 ********************************/
#sitemap {
    border-radius: 8px;
}

#sitemap .panel-heading {
    padding-top: 20px;
    font-size: 18px;
}

#sitemap .panel-body {
    padding-top: 0;
}

#sitemap div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#sitemap div ul, #sitemap div ul li ul {
    list-style: none;
}

#sitemap div ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/********************************
 *                              *
 *          About CSS           *
 *                              *
 ********************************/
 #about-page {
    border-radius: 8px;
 }

 #about-page .panel-heading {
    padding-top: 20px;
    font-size: 18px;
}

#about-page .panel-body {
    padding-top: 0;
}

#about-page div {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#about-page div p {
    /* code... */
}