/********************************
 *                              *
 *        Gen Space CSS         *
 *                              *
 ********************************/
.community_name h3 {
    margin-bottom: 20px;
    margin-top: 5px;
}

.community_manager, .community_phone {
    margin-top: 12px;
}

.checkbox + .checkbox {
    margin-top: 10px !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
}

.checkbox label {
    padding-left: 30px !important;
}

.space-reset-btn {
    margin-left: 2%;
}

.panel-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.communities {
    margin-bottom: 10px;
}

/********************************
 *                              *
 *       View Page CSS          *
 *                              *
 ********************************/
 a:active, a:focus {
    text-decoration: none;
    outline: none !important;
}

.top-buffer {
    margin-top:20px;
}

#map_canvas {
    background-color: #CCC;
}

.map-canvas-default {
    height: 350px;
    width: 550px;
}

.space-tabs {
    list-style: none;
    margin-bottom: -1px;
}

.space-tabs li {
    display: inline-block;
    position: relative;
    line-height: 270%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
}

.space-tabs li.active {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 2px; /* CSS trick to bring the bottom border in just a few pixels*/
    border-bottom-right-radius: 2px; /* CSS trick to bring the bottom border in just a few pixels*/
}

.space-tabs li a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#home_info .panel, #photos .panel, #maps_nearby .panel, #community_info .panel {
    margin-bottom: 0;
    border: 1px solid rgba(150, 150, 150, .85);
    border-radius: 5px;
}

#home_info_panel .panel-body, #photos_panel .panel-body, #maps_nearby_panel .panel-body, #community_info_panel .panel-body{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#home_info_panel .panel-body {
    /*background-color: red;*/
}

#photos_panel .panel-body {
    /*background-color: blue;*/
}

#maps_nearby_panel .panel-body {
    /*background-color: green;*/
}

#community_info_panel .panel-body {
    /*background-color: yellow;*/
}