/********************************
 *                              *
 *      Gen Contact CSS         *
 *                              *
 ********************************/
#contact_us-form {
    border-radius: 8px;
}

.contact-submit-btn {
    /* code... */
}

.contact-reset-btn {
    margin-left: 2%;
}

/********************************
 *                              *
 *      Success Page CSS        *
 *                              *
 ********************************/
.success-details {
    top:30px;
}