<div class="map-slideshow-container">
	<!-- Start WOWSlider.com BODY section id=wowslider-container1 -->
	<div id="wowslider-container1">
		<div class="ws_images">
			<ul>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner1.jpg" alt="Come Live With Us!" title="Come Live With Us!" id="wows1_0"/>Click the map to see where a community is near you.</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner2.jpg" alt="Small Private Communities!" title="Small Private Communities!" id="wows1_1"/>We're all one big family here, and we'd love to have you.</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner3.jpg" alt="From Coast to Coast!" title="From Coast to Coast!" id="wows1_2"/>We've got communities in more than 9 states</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner4.jpg" alt="Great Management!" title="Great Management!" id="wows1_3"/>At Kingsley, we pride ourselves in proper management of parks</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner5.jpg" alt="Clean Properties!" title="Clean Properties!" id="wows1_4"/>Our properties are well kept and cared for, stop by any time to see what we have to offer you.</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner6.jpg" alt="All Seasons All Around the Country!" title="All Seasons All Around the Country" id="wows1_5"/>We have communities all over the country, so if you are looking for just a summer home, we have that too.</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner7.jpg" alt="Garages, Car Covers, And More!" title="Garages, Car Covers, And More!" id="wows1_6"/>Most of our homes have a canopy or garage to park your car in or under, so your car stays cleaner too.</li>
				<li><img src="http://localhost/kingsleyLivingSample/webroot/images/banner8.jpg" alt="Amenities And So Much More!" title="Amenities And So Much More!" id="wows1_7"/>From pools to recreational houses, our communities have much to offer</li>
			</ul>
		</div>
		<div class="ws_bullets">
			<div></div>
		</div>
		<span class="wsl"><a href="http://wowslider.net">html5 slideshow</a> by WOWSlider.com v5.5m</span>
		<a href="#" class="ws_frame"></a>
		<div class="ws_shadow"></div>
	</div>
	<script type="text/javascript" src="http://localhost/kingsleyLivingSample/webroot/engine1/wowslider.js"></script>
	<script type="text/javascript" src="http://localhost/kingsleyLivingSample/webroot/engine1/script.js"></script>
	<!-- End WOWSlider.com BODY section -->
	<div class="kingsley_map"></div>
</div>
<div class="homes-retirement-deals-container">
	<div>Family Friendly Communities</div>
	<div>Retirement Information</div>
	<div>Specials Information</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.ws_bullets').children('div').load('main/landingPage/default_bullets_slides.htm');
	});
</script>