.tooltip span {
	display: none;
}
li.tooltip:hover span {
	display: inline;
}
/* Tooltips */
li.tooltip {
  position: relative;
  display: inline;
}
li.tooltip span {
  position: absolute;
  width:140px;
  color: #000000;
  background: #99F;
  height: 20px;
  line-height: 20px;
  text-align: center;
  visibility: hidden;
  border-radius: 4px;
}
li.tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #99F;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
li:hover.tooltip span {
  visibility: visible;
  opacity: 0.9;
  top: 40px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}