/********************************
 *                              *
 *     Register User CSS        *
 *                              *
 ********************************/
#register_user-form {
    border-radius: 8px;
}

.register-submit-btn {
    /* code... */
}

.register-reset-btn {
    margin-left: 2%;
}

.google_valid_billing_address {
    position: absolute;
    font-size: 10px;
    margin-left: 40%;
    margin-top: 40%;
    color: black;
}

.google_valid_shipping_address {
    position: absolute;
    font-size: 10px;
    margin-left: 87.75%;
    margin-top: 40%;
    color: black;
}

.valid_billing_success {
    color: green;
    font-size: 16px;
    margin-left: 37%;
}

.valid_shipping_success {
    color: green;
    font-size: 16px;
    margin-left: 84%;
}

.valid_billing_error {
    color: red;
    font-size: 16px;
    margin-left: 36%;
}

.valid_shipping_error {
    color: red;
    font-size: 16px;
    margin-left: 83%;
}

/********************************
 *                              *
 *      Success Page CSS        *
 *                              *
 ********************************/
/*.success-details {
    top:30px;
}*/