<ul class="c-list">
	<li><a href="index.php">Home</a></li>
	<li><a href="#">Join Our Team</a></li>
	<li><a href="#">Acquisitions</a></li>
	<li><a href="#">Investors</a></li>
	<li><a href="#">Contact Us</a></li>
	<li><a href="#">Buy a Home</a></li>
	<li><a href="#">Rent a Home</a></li>
	<li><a href="#">Lease Options</a></li>
	<li><a href="#">Find a Home Site</a></li>
</ul>