<div class="header-logo">Kingsleyliving.com</div>
<div class="header-menu">
	<ul>
		<li>Buy a Home</li>
		<li class="pipe">|</li>
		<li>Rent a Home</li>
		<li class="pipe">|</li>
		<li>Lease Options</li>
		<li class="pipe">|</li>
		<li>Find a Home Site</li>
	</ul>
</div>