<div class="slideout_title-left landing-target">Notifications</div>
<div class="slideout_inner-left">
	<?php echo $siteNotifications; ?>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$('.landing-target').parent('div').addClass('notifications')
	});
</script>