.slide-map div {
    margin-top: 10px;
    box-shadow: none;
}

.kingsley_map-lg {
    margin-top: 2.5% !important;
    margin-left: 3%;
    min-width: 510px;
    min-height: 310px;
    max-width: 600px;
    max-height: 350px;
}

.kingsley_map-md {
    margin-top: 2.5% !important;
    margin-left: 2%;
    min-width: 430px;
    min-height: 250px;
    max-width: 530px;
    max-height: 307px;
}

.kingsley_map-sm {
    margin-top: 2.5% !important;
    margin-left: 10%;
    min-width: 510px;
    min-height: 310px;
    max-width: 600px;
    max-height: 350px;
}

.kingsley_map-xs {
    margin-left: 9%;
    width: 500px;
    height: 250px;
}

.map-header {
    left: 55%;
    top: 2%;
}

.map-footer {
    left: 65%;
    top: 83%;
}

.map-header, .map-footer {
    position: absolute;
    z-index: 10;
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(200, 200, 255, .85);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid rgba(100, 100, 100, .85);
    border-radius: 4px;
    box-shadow: 2px 2px 3px 1px rgba(119, 119, 136, .85) !important;
}

.map-legend {
    z-index: 10;
}

.legend-close {
    position: absolute;
    top: 0;
    left: 87%;
    /*padding-left: 5px;*/
    padding-right: 5px;
    padding-bottom: 5px;
}

.legend-close:hover {
    cursor: pointer;
}

.map-reset {
    position: absolute;
    left: 92%;
    top: 4%;
    z-index: 90;
}

.open-search {
    position: absolute;
    left: 55%;
    top: 83%;
    z-index: 90;
}

.arizona {
    left: 66.5%;
    top: 46%;
    width: 12.25%;
}

.california {
    left: 62%;
    top: 30%;
    width: 13.5%;
}

.colorado {
    left: 53.5%;
    top: 32%;
    width: 13%;
}

.idaho {
    left: 66%;
    top: 12%;
    width: 11.5%;
}

.michigan {
    left: 65.5%;
    top: 19%;
    width: 13%;
}

.nevada {
    left: 64%;
    top: 31%;
    width: 12.25%;
}

.new_mexico {
    left: 51.5%;
    top: 45%;
    width: 14.5%;
}

.new_york {
    left: 71.5%;
    top: 20%;
    width: 13.5%;
}

.texas {
    left: 57%;
    top: 50%;
    width: 11.25%;
}

.utah {
    left: 67%;
    top: 31%;
    width: 11.15%;
}

.map-legend .legend-vertical .legend-scale ul li {
    line-height: 18px;
}

.map-legend .legend-vertical ul.legend-labels li span {
    height: 16px;
    width: 30px;
}

.map_open_rollover_bar {
    position: absolute;
    z-index: 20;
    left: 0;
    top: -5px;
    width: 100%;
    height: 107%;
    /*background-color: white;*/
    /*border: 1px solid #CCC;*/
    /*-webkit-transform-style: preserve-3d;*/
    /*-moz-transform-style: preserve-3d;*/
}

/*.bar-top {
    position: absolute;
    background-color: white;
    outline: 1px solid #CCC;
    box-shadow: -5px 5px 5px 1px #778 !important;
    width: 20px;
    height: inherit;
    top: 0;
    -webkit-transform: rotateY(-10deg);
    -webkit-transform-origin: 0% 50%;
    -moz-transform: rotateY(-10deg);
    -moz-transform-origin: 0% 50%;
}

.bar-front {
    position: absolute;
    background-color: white;
    outline: 1px solid #CCC;
    box-shadow: -5px 5px 5px 1px #778 !important;
    width: 10px;
    height: inherit;
    top: 0;
    left: -14px;
    -webkit-transform: rotateY(60deg);
    -webkit-transform-origin: 0% 50%;
    -moz-transform: rotateY(60deg);
    -moz-transform-origin: 0% 50%;
}

.bar-bottom {
    position: absolute;
    background-color: white;
    outline: 1px solid #CCC;
    box-shadow: -5px 5px 5px 1px #778 !important;
    width: 20px;
    height: 10px;
    top: 95.1%;
}*/

.jqvmap-zoomin, .jqvmap-zoomout {
    z-index: 99;
    position: relative;
    background-color: #DDD;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 0px 1px 1px #778 !important;
}

.jqvmap-zoomin {
    margin-top: -53% !important;
}

.jqvmap-zoomout {
    margin-top: 2% !important;
}

.jqvmap-zoomin:hover, .jqvmap-zoomout:hover {
    box-shadow: 0px 0px 1px 1px #778 inset !important;
}

.ws_effect {
    margin-top: 0 !important;
}

.jqvmap-label
{
    position: absolute;
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}