.panel {
    box-shadow: none;
}
/********************************
 *                              *
 *     Register User CSS        *
 *                              *
 ********************************/
#register_user-form {
    border-radius: 8px;
}

.register-submit-btn {
    /* code... */
}

.register-reset-btn {
    margin-left: 2%;
}

.checkbox + .checkbox {
    margin-top: 10px !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
}

.checkbox label {
    padding-left: 30px !important;
}

.user-reset-btn {
    margin-left: 2%;
}

.panel-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#main_image {
    border: none;
    box-shadow: none;
    overflow: visible;
}

/*.google_valid_billing_address {
    position: absolute;
    font-size: 10px;
    margin-left: 40%;
    margin-top: 40%;
    color: black;
}

.google_valid_shipping_address {
    position: absolute;
    font-size: 10px;
    margin-left: 87.75%;
    margin-top: 40%;
    color: black;
}

.valid_billing_success {
    color: green;
    font-size: 16px;
    margin-left: 37%;
}

.valid_shipping_success {
    color: green;
    font-size: 16px;
    margin-left: 84%;
}

.valid_billing_error {
    color: red;
    font-size: 16px;
    margin-left: 36%;
}

.valid_shipping_error {
    color: red;
    font-size: 16px;
    margin-left: 83%;
}*/

/********************************
 *                              *
 *      Profile Page CSS        *
 *                              *
 ********************************/
.billing {
    /*code...*/
}
.shipping {
    margin-top: 10px;
}
/*.success-details {
    top:30px;
}*/