/********************************
 *                              *
 *      Gen Contact CSS         *
 *                              *
 ********************************/
#new_community-form {
    border-radius: 8px;
}

.community-submit-btn {
    /* code... */
}

.community-later-btn {
    margin-left: 2%;
}

.community-reset-btn {
    margin-left: 2%;
}

.checkbox + .checkbox {
    margin-top: 10px !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
}

.checkbox label {
    padding-left: 30px !important;
}

.panel-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.c_s-community_name {
    font-size: 32px;
}

a.new_images_modal_submit {
    color: #FFF !important;
}

a.new_images_modal_submit:hover {
    color: #FFF !important;
}

/********************************
 *                              *
 *       View Page CSS          *
 *                              *
 ********************************/
.jumbotron {
    height: 450px;
    margin-bottom: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#map_canvas {
    background-color: #CCC;
}

/* Maybe adjust the map size / canvas depending on the park we have selected? */
.map-canvas-default {
    height: 350px;
    width: 550px;
}

/* Adjust the jumbotron depending on what park we have selected */
.standard_community_jumbotron div h2 {
    color:#FFF;
}
.standard_community_jumbotron div p {
    color:#FFF;
}
.standard_community_jumbotron {
    background: url('../../images/community/default_community_image.jpg') no-repeat bottom center;
}

/* Some changes in the bootstrap css */
.panel {
    box-shadow: none;
}
.community_description div.panel, #community_amenities, #community_schools, #community_listings, #community_promotions {
    margin-bottom: 0;
}