a:active, a:focus {
    text-decoration: none;
    outline: none !important;
}

#community_index .panel-heading {
    margin: 0;
}

#community_index .panel-heading h2 {
    margin-top: 10px;
}

#community_hours_btn {
    margin-top: 25px;
}

.community-tabs {
    list-style: none;
    margin-bottom: -1px;
}

.community-tabs li {
    display: inline-block;
    position: relative;
    line-height: 270%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid rgb(150, 150, 150);
}

.community-tabs li.active {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-bottom-left-radius: 2px; /* CSS trick to bring the bottom border in just a few pixels*/
    border-bottom-right-radius: 2px; /* CSS trick to bring the bottom border in just a few pixels*/
}

.community-tabs li a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#summary .panel, #contact_community .panel, #amenities .panel, #nearby .panel {
    margin-bottom: 0;
    border: 1px solid rgba(150, 150, 150, .85);
    border-radius: 5px;
    min-height: 350px;
}

#summary_panel .panel-body, #contact_community_panel .panel-body, #amenities_panel .panel-body, #nearby_panel .panel-body{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.community-reset-btn {
    margin-left: 2%;
}

.checkbox + .checkbox {
    margin-top: 10px !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0 !important;
}

.checkbox label {
    padding-left: 30px !important;
}

.panel-body {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

#main_image {
    border: none;
    box-shadow: none;
    overflow: visible;
}

#comm_images {
    border: none;
    box-shadow: none;
    overflow: visible;
}

#current_image {
    border: none;
    box-shadow: none;
    overflow: visible;
}

.community_fieldset {
    margin-top: 10px;
}

.jumbotron {
    height: 450px;
    margin-bottom: 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#map_canvas {
    background-color: #CCC;
}

.modal-reset-btn {
    margin-left: 15px;
}

/* Maybe adjust the map size / canvas depending on the park we have selected? */
.map-canvas-default {
    height: 350px;
    width: 550px;
}

/* Adjust the jumbotron depending on what park we have selected */
.standard_community_jumbotron div h2 {
    color:#FFF;
}
.standard_community_jumbotron div p {
    color:#FFF;
}
.standard_community_jumbotron {
    background: url('../../images/community/default_community_image.jpg') no-repeat bottom center;
}

/* Some changes in the bootstrap css */
.panel {
    box-shadow: none;
}
.community_description div.panel, #community_amenities, #community_schools, #community_listings, #community_promotions {
    margin-bottom: 0;
}