.slideout-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    top: 10%;
    transition-duration: 0.6s;
    width: 35px;
    height: 25px;
    opacity: 0.9;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    min-height: 25px;
    right: -630px;
    padding: 12px;
    padding-left: 17px;
    position: fixed;
    text-align: left;
    top: 10%;
    transition-duration: 0.6s;
    width: 600px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 4px 2px 4px 1px #778;
}

.slideout_inner-right div {
	display: inline;
	padding-left: 5px;
	margin-right: 5px;
	border-left: 1px solid #DDD;
}

.slideout_inner-right div:first-child {
	border:none;
}

.slideout-right:hover {
    right: 630px;
}

.slideout-right:hover .slideout_inner-right {
    right: 0;
}

.slideout_title-right {
    display: block;
    position: absolute;
    transform: rotate(270deg);
    color: #555;
    top: 15px;
    right: 0;
}
.map-slideshow-container {
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    border: 2px solid #DDD;
    border-radius: 10px;
    padding-bottom: 20px;
}

.map-slideshow-container div {
    display: inline-block;
    padding: 10px;
}

#wowslider-container1 {
    min-width: 40%;
    max-height: 100%;
    margin-right: 4%;
    margin-left: 2%;
}

.kingsley_map {
    padding-top: 2%;
    width: 600px;
    height: 350px;
    margin-left: 4%;
}

.homes-retirement-deals-container {
	margin-left: 30px;
    margin-right: 30px;
    min-height: 300px;
    margin-top: 10px;
}
.homes-retirement-deals-container div {
    display: inline-block;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    padding: 10px;
    border: 2px solid #DDD;
    width: 31.25%;
}

/********************************/
/********** MAPBOX CSS **********/
/********************************/
.floating-mapbox {
    display: none;
    left:60%;
    position: absolute;
    background-color: rgba(255,255,255,1);
    margin-top: 3%;
    padding: 10px;
    max-width: 30%;
    min-width: 320px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px #778;
    max-height: 280px;
    z-index: 990;
}

.mapbox-title {
	display: none;
	width: 100%;
	text-align: center;
}