/********************************/
/*********** PAGE CSS ***********/
/********************************/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    min-width: 1000px;
}

.container {
    min-height: 100%;
    position: relative;
}

body {
    background: url("http://localhost/kingsleyLivingSample/webroot/images/cityScapeSample.jpg");
    background-size: 3000px;
    background-repeat: no-repeat;
}
/**********************************/
/*********** HEADER CSS ***********/
/**********************************/
.header {
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0;
    padding: 10px;
    z-index: 999;
    background-color: rgb(255,255,255);
    box-shadow: 0px 2px 4px 1px #778;
    min-width: 1000px;
}

.header-logo {
    display: inline-block;
    width: 30%;
    border-right: 2px solid #CCC;
    font-size: 36px;
    padding-left: 20px;
}

.header-menu {
    display: inline-block;
    width: 65%;
}

.header-menu ul li {
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

/********************************/
/*********** BODY CSS ***********/
/********************************/
.slideout-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    top: 10%;
    transition-duration: 0.6s;
    width: 35px;
    height: 25px;
    opacity: 0.9;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 0;
    min-height: 25px;
    right: -630px;
    padding: 12px;
    padding-left: 17px;
    position: fixed;
    text-align: left;
    top: 10%;
    transition-duration: 0.6s;
    width: 600px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 4px 2px 4px 1px #778;
}

.slideout_inner-right div {
    display: inline;
    padding-left: 5px;
    margin-right: 5px;
    border-left: 1px solid #DDD;
}

.slideout_inner-right div:first-child {
    border:none;
}

.slideout-right:hover {
    right: 630px;
}

.slideout-right:hover .slideout_inner-right {
    right: 0;
}

.slideout_title-right {
    display: block;
    position: absolute;
    transform: rotate(270deg);
    color: #555;
    top: 15px;
    right: 0;
}

.body-content {
    padding: 10px;
    padding-top: 30px;
    z-index: 20;
    position: relative;
    margin-top: 70px;
    box-shadow: 0px 2px 4px 1px #778;
    padding-bottom: 270px;
}

.breadcrumbs {
    /*display: none;*/
    position: absolute;
    background-color: rgba(255,255,255,1);
    margin-top: 0;
    margin-right: 3.5%;
    margin-left: 3.5%;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 2px 4px 1px #778;
    z-index: 20;
    /*min-width: 500px;*/
}

.breadcrumbs div a {
    text-decoration: none;
    color: black;
}

/********************************************/
/*********** FLOATING INFOBOX CSS ***********/
/********************************************/
.floating-infobox-top {
    display: none;
    z-index: 20;
    position: absolute;
    background-color: rgba(255,255,255,1);
    margin-top: 4%;
    margin-left: 55%;
    padding: 10px;
    max-width: 30%;
    min-width: 320px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px 1px #778;
    max-height: 280px;
    z-index: 990;
}
/* Box header */
.park-name {
    text-align: center;
    font-size: 24px;
}
/* Box info line */
.space-info div {
    display: inline;
}
.space-info {
    text-align: center;
    margin-top: 2%;
}
.num-spaces {
    margin-right: 4%;
}
.occupancies {
    margin-left: 4%;
}
/* Box Description */
.desc {
    margin-top: 2%;
}
/* Box Amenities */
.amenities {
    margin-top: 2%;
}
.a-title {
    text-align: center;
}
.a-list {
    margin-top:1%;
}
.a-list li {
    display: inline;
    float: left;
    text-decoration: none;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px;
    margin-right: 2px;
    margin-left: 2px;
}
.a-list li a {
    display: inline;
    text-decoration: none;
}
.a-list li:hover span.tooltip {
    display: inline;
}
/**********************************/
/*********** FOOTER CSS ***********/
/**********************************/
.footer {
    width: 100%;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    /* Changes to footer */
    background-color: rgba(255,255,255,1);
    box-shadow: 0px -2px 4px 1px #778;
    z-index: 20;
    min-width: 1000px;
}

.footer-main-section, .footer-sliver {
    margin-left: 1%;
    padding: 10px;
}
.footer-links, .footer-contact, .footer-news {
    display: inline-block;
    box-shadow: 0px 0px 4px 1px #778;
    border-radius: 5px;
    padding: 10px;
    min-height: 170px;
}

.footer-links {
    width: 22%;
    float: left;
    margin-right: 10px;
    background-color: rgba(255,255,255,1);
    margin-left: -8px;
}

.c-list {
    margin-top: 5%;
    margin-left: -14%;
}

.c-list li {
    list-style: none;
    float: left;
    width: 50%;
}

.c-list li a {
    text-decoration: none;
}

.footer-news {
    width: 50%;
    float: left;
    margin-right: 10px;
    background-color: rgba(255,255,255,1);
}

.news-articles {
    max-height: 100%;
}

.article-title {
    font-weight: bold;
    font-size: 12px;
}

.article-content {
    font-size: 10px;
}

.footer-contact {
    width: 22%;
    background-color: rgba(255,255,255,1);
    text-align: center;
}
.footer-contact-text {
    font-size: 12px;
}

.footer-sliver {
    bottom: 0;
    position: absolute;
    width: 96.5%;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 2px 4px 1px #778;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.footer-sliver div {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}
.footer-sliver div a {
    text-decoration: none;
}