/*************************************/
/*********** LEFT SIDE CSS ***********/
/*************************************/
.slideout-left {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 5px 5px 0;
    left: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    top: 10%;
    transition-duration: 0.6s;
    width: 35px;
    height: 90px;
    opacity: 0.9;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-left {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 5px;
    min-height: 100px;
    left: -251px;
    padding: 25px;
    position: fixed;
    text-align: left;
    top: 10%;
    transition-duration: 0.6s;
    width: 200px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    box-shadow: -4px 0px 4px 1px #778;
}

.slideout-left:hover {
    left: 251px;
}

.slideout-left:hover .slideout_inner-left {
    left: 0;
}

.slideout_title-left {
    display: block;
    position: absolute;
    transform: rotate(90deg);
    color: #555;
    top: 45px;
    left: -25px;
}

/**************************************/
/*********** RIGHT SIDE CSS ***********/
/**************************************/
.slideout-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    top: 10%;
    transition-duration: 0.6s;
    width: 35px;
    height: 90px;
    opacity: 0.75;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 5px;
    min-height: 100px;
    right: -250px;
    padding: 25px;
    position: fixed;
    text-align: left;
    top: 10%;
    transition-duration: 0.6s;
    width: 200px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px 0px 4px 1px #778;
}

.slideout-right:hover {
    right: 250px;
}

.slideout-right:hover .slideout_inner-right {
    right: 0;
}

.slideout_title-right {
    display: block;
    position: absolute;
    transform: rotate(270deg);
    color: #555;
    top: 45px;
    right: 0px;
}