.sign-in {
    padding-bottom: 5px;
}

body {
    background: url("../images/seattleLargeNightCityScape_2.jpg");
    background-attachment: fixed;
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: center right; /* right, left, or center */
}

a {
    color:#555 !important;
}

a:hover {
    text-decoration: none !important;
    color:#000 !important;
    text-shadow: 1px 1px 1px #557;
}

.site-menu {
    box-shadow: 0px 2px 4px 1px #778;
}

.navbar-brand:hover {
    color:#555 !important;
    text-shadow: none;
}

/*************************/
/* Site Errors Component */
/*************************/
.site-errors {
    background-color: #FFF;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 4px 1px #778 !important;
    z-index: 990;
}

.site-errors-lg {
    margin-top: 50px;
}

.site-errors-md {
    margin-top: 100px;
}

.site-errors-sm {
    margin-top: 100px;
}

.site-errors-xs {
    margin-top: 50px;
}

/*************************/
/*      Main Body CSS    */
/*************************/
.main-body-lg {
    margin-top: 70px;
}

.main-body-md {
    margin-top: 110px;
}

.main-body-sm {
    margin-top: 110px;
}

.main-body-xs {
    margin-top: 70px;
}

/****************************/
/* Slideout Right Component */
/****************************/
.slideout-right {
    height: 60px;
}

.slideout_inner-right {
    min-height: 70px;
    right: -550px;
    width: 550px;
    font-size: 14px;
}

.slideout_inner-right ul li {
    padding-left: 5px;
    padding-right: 5px;
}

.slideout-right:hover {
    right: 550px;
}

.slideout_title-right {
    top:20px;
}

/********************/
/* Legend Component */
/********************/
.map-legend {
    position: absolute;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 4px;
    box-shadow: 2px 2px 3px 1px rgba(119, 119, 136, .85) !important;
}

.map-legend a {
    color: #777;
}

/* Vertical */
.map-legend .legend-vertical .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.map-legend .legend-vertical .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.map-legend .legend-vertical .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px;
}
.map-legend .legend-vertical ul.legend-labels li span {
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.map-legend .legend-vertical .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

/* Horizontal */
.map-legend .legend-horizontal .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.map-legend .legend-horizontal .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.map-legend .legend-horizontal .legend-scale ul li {
    display: block;
    float: left;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.map-legend .legend-horizontal ul.legend-labels li span {
    display: block;
    float: left;
}

.map-legend .legend-horizontal .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

/************************/
/*      Site Footer     */
/************************/
.footer {
    background-color: #FFF;
    box-shadow: 0px -2px 4px 1px #778;
    padding-top: 15px;
}

.footer-links, .footer-news, .footer-contact {
    box-shadow: 0px 0px 4px 1px #778 !important;
    border-radius: 8px;
    padding: 10px;
    height: 100%;
}

.footer-link-list .list-group-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.news-articles {
    font-size: 12px;
}

.article-title {
    font-weight: bold;
    margin-top:10px;
}

.article-title:first-child {
    margin-top: 5px;
}

.footer-sliver {
    box-shadow: 0px 0px 4px 1px #778;
    padding: 10px;
    margin-top: 15px;
}

.footer-sliver div {
    text-align: center !important;
}

/*************************/
/* Chosen Dropdown Lists */
/*************************/
.chosen-container-single .chosen-single div {
    top:5px;
}

.chosen-container-single .chosen-single {
    height:34px;
    line-height: 34px;
}

.chosen-container {
    font-size: 14px;
}