/*************************************/
/*********** LEFT SIDE CSS ***********/
/*************************************/
.slideout-left-lg, .slideout_inner-left-lg {
    top: 80px;
}

.slideout-left-md, .slideout_inner-left-md {
    top: 120px;
}

.slideout-left-sm, .slideout_inner-left-sm {
    top: 120px;
}

.slideout-left-xs, .slideout_inner-left-xs {
    top: 80px;
}

.landing-target-left-lg {
    top: 40px;
}

.landing-target-left-md {
    top: 45px;
}

.landing-target-left-sm {
    top: 40px;
}

.landing-target-left-xs {
    top: 40px;
}

.slideout-left {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 5px 5px 0;
    left: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    transition-duration: 0.6s;
    width: 35px;
    height: 105px;
    opacity: 0.9;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-left {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 5px;
    min-height: 150px;
    left: -250px;
    padding: 25px;
    position: fixed;
    text-align: left;
    transition-duration: 0.6s;
    width: 250px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-right: 1px solid #DDD;
    box-shadow: -4px 0px 4px 1px #778;
}

.slideout-left:hover {
    left: 250px;
}

.slideout-left:hover .slideout_inner-left {
    left: 0;
}

.slideout_title-left {
    display: block;
    position: absolute;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #555;
    left: -20px;
}

/**************************************/
/*********** RIGHT SIDE CSS ***********/
/**************************************/
.slideout-right-lg, .slideout_inner-right-lg {
    top: 80px;
}

.slideout-right-md, .slideout_inner-right-md {
    top: 120px;
}

.slideout-right-sm, .slideout_inner-right-sm {
    top: 120px;
}

.slideout-right-xs, .slideout_inner-right-xs {
    top: 80px;
}

.landing-target-right-lg {
    top: 45px;
}

.landing-target-right-md {
    top: 55px;
}

.landing-target-right-sm {
    top: 45px;
}

.landing-target-right-xs {
    top: 80px;
}

.slideout-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 5px 0 0 5px;
    right: 0;
    padding: 12px 0;
    position: fixed;
    text-align: center;
    transition-duration: 0.6s;
    width: 35px;
    height: 90px;
    opacity: 0.9;
    z-index: 990;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 0px 2px 4px 1px #778;
}

.slideout_inner-right {
    background: none repeat scroll 0 0 #FFF;
    border-radius: 0 0 0 5px;
    min-height: 100px;
    right: -250px;
    padding: 25px;
    position: fixed;
    text-align: left;
    transition-duration: 0.6s;
    width: 200px;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    box-shadow: 4px 0px 4px 1px #778;
}

.slideout-right:hover {
    right: 250px;
}

.slideout-right:hover .slideout_inner-right {
    right: 0;
}

.slideout_title-right {
    display: block;
    position: absolute;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    color: #555;
    right: 5px;
}