.sign-in {
    padding-bottom: 5px;
}

body {
    background: url("../images/seattleLargeNightCityScape_2.jpg");
    background-attachment: fixed;
    background-size: 3000px;
    background-repeat: no-repeat;
    background-position: center right; /* right, left, or center */
}

.header-logo img
{
    /*width: 100%;*/
    height: 50px;
}

.site-menu {
    box-shadow: 0px 2px 4px 1px #778;
}

.navbar-brand:hover {
    color:#555 !important;
    text-shadow: none;
}

.main-page-content > div.container-fluid > div > div.panel {
    min-height: 350px;
}

.sign-in {
    margin-right: 0 !important;
}

.navbar-register {
    margin-top: 8px;
}

.show_btn {
    margin-left: 35%;
    color: #000 !important;
    text-decoration: none !important;
    margin-top: -12px;
    border-right: 1px solid rgba(204,204,204,0.75) !important;
    border-left: 1px solid rgba(204,204,204,0.75) !important;
    border-bottom: 1px solid rgba(204,204,204,0.75) !important;
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    background-color: white !important;
    z-index: 20;
}

.show_btn:hover {
    text-shadow: 1px 1px 1px #999;
}

.in-page-search div div hr {
    margin-bottom: 5px;
    margin-top: 10px;
}

/*************************/
/*   Search Component    */
/*************************/
.in-page-search {
    border: 2px rgba(190, 190, 190, 0.8) solid;
    border-radius: 5px;
}

.in-page-search legend {
    border-bottom: none;
    text-align: center;
    margin-bottom: 0;
}

.in-page-search div.row div div.panel {
    background-color: rgba(220, 220, 220, 0.9);
}

.in-page-search div.row div div.panel > div.panel-body div div.form-group {
    margin-bottom: 10px !important;
}

.in-page-search div.row div div.panel > div.panel-body {
    padding-bottom: 5px;
}

.in-page-search div.row div.form-group {
    margin-bottom: 10px;
}

.in-page-search div.row div > .radio {
    margin-top: 0;
    margin-bottom: 0;
}
/*************************/
/*   Slide Out Panels    */
/*************************/
.badge {
    margin-left: 5px;
}

a.trigger{
    position: absolute;
    background:rgba(255, 255, 255, 0.9) url("../images/plus.png") 6% 55% no-repeat;
    text-decoration: none;
    font-size: 16px;
    letter-spacing:-1px;
    font-family: verdana, helvetica, arial, sans-serif;
    padding:4px 12px 6px 24px;
    font-weight: bold;
    
    z-index:101;
}
a.trigger.left {
    /*left: -68px;*/
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
a.trigger.right {
    right: -23px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
}
a.trigger:hover {
    background-color:rgba(220, 220, 220, 0.9);
}

a.trigger:focus {
    text-decoration: none;
    outline: none;
}

a.active.trigger {
    background:#999 url("../images/minus.png") 6% 55% no-repeat;
    color: #000 !important;
}

#linkspanel ul {
    list-style: none;
}

#linkspanel ul li a {
    color:#FFF !important;
}

#linkspanel ul li a:hover {
    color:#CCC !important;
}

#linkspanel .list {
    padding-left: 0;
}

.sl_panel {
    color:#CCC;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.9);
    width: 300px;
    height: auto;
    z-index:100;
}
.sl_panel.left {
    left: 0;
    padding: 20px 30px 20px 60px;
    border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.sl_panel.right {
    right: 0;
    padding: 20px 60px 20px 30px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-top-left-radius: 15px;
}

.sl_panel div a {
    color: #fff !important;
}

.sl_panel div a:hover {
    text-decoration: none !important;
    color:#fff !important;
    text-shadow: 1px 1px 1px #999;
}

a {
    color:#555 !important;
}

a:hover {
    text-decoration: none !important;
    color:#000 !important;
    text-shadow: 1px 1px 1px #557;
}

/*************************/
/* Site Errors Component */
/*************************/
.site-errors {
    background-color: #FFF;
    padding: 10px !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 4px 1px #778 !important;
    z-index: 990;
}

.site-errors-lg {
    margin-top: 50px;
}

.site-errors-md {
    margin-top: 100px;
}

.site-errors-sm {
    margin-top: 100px;
}

.site-errors-xs {
    margin-top: 50px;
}

.site-errors div
{
    margin: 0;
    bottom: 0;
}

/*************************/
/*      Main Body CSS    */
/*************************/
.main-body-lg {
    margin-top: 70px;
}

.main-body-md {
    margin-top: 110px;
}

.main-body-sm {
    margin-top: 110px;
}

.main-body-xs {
    margin-top: 70px;
}

/********************/
/* Legend Component */
/********************/
.map-legend {
    position: absolute;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 4px;
    box-shadow: 2px 2px 3px 1px rgba(119, 119, 136, .85) !important;
}

.map-legend a {
    color: #777;
}

/* Vertical */
.map-legend .legend-vertical .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 90%;
}
.map-legend .legend-vertical .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.map-legend .legend-vertical .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    margin-bottom: 2px;
}
.map-legend .legend-vertical ul.legend-labels li span {
    display: block;
    float: left;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.map-legend .legend-vertical .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

/* Horizontal */
.map-legend .legend-horizontal .legend-title {
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 90%;
}

.map-legend .legend-horizontal .legend-scale ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
}

.map-legend .legend-horizontal .legend-scale ul li {
    display: block;
    float: left;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
}

.map-legend .legend-horizontal ul.legend-labels li span {
    display: block;
    float: left;
}

.map-legend .legend-horizontal .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

/************************/
/*      Site Footer     */
/************************/
.footer {
    background-color: #FFF;
    box-shadow: 0px -2px 4px 1px #778;
    padding-top: 15px;
}

.footer-links, .footer-news, .footer-contact {
    box-shadow: 0px 0px 4px 1px #778 !important;
    border-radius: 8px;
    padding: 10px;
    height: 100%;
}

.footer-link-list .list-group-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.news-articles {
    font-size: 12px;
}

.article-title {
    font-weight: bold;
    margin-top:10px;
}

.article-title:first-child {
    margin-top: 5px;
}

.footer-sliver {
    box-shadow: 0px 0px 4px 1px #778;
    padding: 10px;
    margin-top: 15px;
}

.footer-sliver div {
    text-align: center !important;
}

/*************************/
/* Chosen Dropdown Lists */
/*************************/
.chosen-container-single .chosen-single div {
    top:5px;
}

.chosen-container-single .chosen-single {
    height:34px;
    line-height: 34px;
}

.chosen-container {
    font-size: 14px;
}